:root {
  /* ### Primary */

  --color-dark-blue: hsl(213, 96%, 18%);
  --color-purple: hsl(243, 100%, 62%);
  --color-periwinkle: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-red: hsl(354, 84%, 57%);

  /* ### Neutral */

  --color-white: hsl(0, 0%, 100%);
  --color-gray-100: hsl(231, 100%, 99%);
  --color-gray-200: hsl(217, 100%, 97%);
  --color-gray-300: hsl(229, 24%, 87%);
  --color-gray-400: hsl(231, 11%, 63%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-gray-200);
  --color-number-background: var(--color-light-blue);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'ubuntu-medium';
  src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'ubuntu-bold';
  src: url('../fonts/Ubuntu-Bold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-gray-400);
  background: var(--color-background);
  font-size: 16px;
}

label {
  color: var(--color-dark-blue);
}

input {
  width: 100%;
  padding: 0.5rem;
  font-family: 'ubuntu-medium';
  font-size: 16px;
}

::placeholder {
  color: var(--color-gray-400);
}

button {
  font-family: 'ubuntu-regular';
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

.secondary-btn {
  background-color: transparent;
  font-family: 'ubuntu-medium';
  color: var(--color-gray-400);
}

.disabled-btn {
  background-color: var(--color-gray-200);
}

.h1 {
  font-family: 'ubuntu-bold';
  color: var(--color-dark-blue);
  font-size: 1.5rem;
}

.h2 {
  color: var(--color-dark-blue);
  font-family: 'ubuntu-bold';
}

.h3 {
  font-family: 'ubuntu-medium';
}

.capitalize {
  text-transform: capitalize;
}

.text-body-2 {
  font-size: 14px;
}

.text-body-3 {
  font-size: 12px;
}

.blue {
  color: var(--color-dark-blue);
}

.purple {
  color: var(--color-purple);
}

p {
  line-height: 1.5rem;
}